.container{
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}

.title{
    padding: 20px;
    background: rgba(255,255,255,0.9);
    box-shadow: 0 0 20px 0 black;
    font-size: 2em;
    text-align:center;
}

.indicatorContainer{
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.scrollIndicator{
    width: 100px;
    margin: auto;
    text-align: center;
    position: relative;
    font-size: 1.2em;
    color: white;
    font-weight: 200;
    transition: all 300ms ease-in-out;
}

.arrow{
    transform: translateX(-50%) translateY(-20px) rotate(45deg);
    border-left: solid white 1px;
    border-top: solid white 1px;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 50%;
}

.hidden{
    opacity: 0;
}