.container {
    background-color: #6d976d;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    padding: 10px;
    display: flex;
    align-items: center;
    z-index: 10;
    width: 100%;
    box-sizing:border-box;
    height: 50px;
    position: absolute;
    bottom: 0;
}

.copyright{
    width: 100%;
    text-align:right;
    font-weight: 300;
}
